<div class="jumbotron mt-5 bg-light">
    <h1>Watermango</h1>
    <p class="lead">Watermango is the remote watering system for Tapmango office plants.</p>
    <p><a href="/plants" class="btn btn-primary btn-lg">Water Away! &raquo;</a></p>
</div>
